EXPO_PUBLIC_API_BASE_URL=http://localhost:3000
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=pk.eyJ1IjoicnViZW51MkwasiIsImEiOiJjbWZ6eG9wZTgwN3RmMm1wdHBzaXpkMHIzIn0.oyz123nUgigR6Gkvxlg1Ilw
EXPO_PUBLIC_LOCATION_TIME_INTERVAL_MS=10000
EXPO_PUBLIC_LOCATION_DISTANCE_INTERVAL_M=30

# (Opcional) Usa un estilo propio de Mapbox Studio
# EXPO_PUBLIC_MAPBOX_STYLE_URL=mapbox://styles/youruser/abcdefgh12345678
